@page
@model ResultsModel
@{
    ViewData["Title"] = "IoT Device Script";
}

<br />
<br />
Copy the script below and paste it into the emulator logic window at the following URL:
<br />
<br />
<a href="https://azure-samples.github.io/raspberry-pi-web-simulator/" target="_blank">Raspberry PI Emulator</a>
<br />
<br />
<pre>@Model.Script</pre>
<br />
<br />
